<div class="instructions">
  <p class="instructions-step">
    <span class="step-number">1</span>
    <strong>Choose an orientation</strong>
    <label><input onclick="toggleLandscape()" type="radio" name="gender" value="male"> Portrait</label>
    <label><input onclick="toggleLandscape()" type="radio" name="gender" value="female" checked> Landscape</label>
  </p>
  <p class="instructions-step">
    <span class="step-number">2</span>
    <strong>Position the map</strong>
    You can adjust the map's pan and zoom.
  </p>
  <p class="instructions-step">
    <span class="step-number">3</span>
    <strong>Edit the map title</strong>
    Click the map title to edit the text.
  </p>
  <p class="instructions-step">
    <span class="step-number">4</span>
    <a class="button" href="javascript:window.print()">PRINT</a>
  </p>
</div>

<section class="sheet padding-10mm">
  <div class="container">
    <h1 class="header">
      <img src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" alt="logo" class="header-logo">
      <span contenteditable="true">{{#if title}}{{title}}{{else}}Map Title{{/if}}</span>
    </h1>
    <div id="map">
      <div id="north-arrow" style="transform:rotate(0deg);"><span class="n">N</span></div>
    </div>
    {{#if content}}<div class="content">{{content}}</div>{{/if}}
  </div>
</section>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
<script>

const map = new mapboxgl.Map({{{mapConfig}}});

const nav = new mapboxgl.NavigationControl();
map.addControl(nav, 'top-left');

const scale = new mapboxgl.ScaleControl();
map.addControl(scale, 'bottom-right');


function toggleLandscape() {
  var element = document.body;
  element.classList.toggle('landscape');

  // Trigger window resize to resize the map
  var evt = document.createEvent('UIEvents');
  evt.initUIEvent('resize', true, false, window, 0);
  window.dispatchEvent(evt);
}

map.on('rotate', function(e) {
  const bearing = map.getBearing();
  document.getElementById('north-arrow').style.transform = 'rotate(' + (360 - bearing) + 'deg)';
})



</script>
