<div class="instructions">
  <p class="instructions-step"><span class="step-number">1</span> <strong>Position the map.</strong> (You can adjust the map's pan and zoom.)</p>
  <p class="instructions-step"><span class="step-number">2</span> <strong>Edit the map title.</strong> (Click the map title to edit the text.)</p>
  <p class="instructions-step"><span class="step-number">3</span> <a class="button" href="javascript:window.print()">PRINT</a></p>
</div>

<section class="sheet padding-10mm">
  <div class="container">
    <h1 class="header">
      <img src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" alt="logo" class="header-logo">
      <span contenteditable="true">{{title}}</span>
    </h1>
    <div id="map"></div>
    {{#if content}}<div class="content">{{content}}</div>{{/if}}
  </div>
</section>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
<script>

const map = new mapboxgl.Map({{{mapConfig}}});

</script>
