
      /* paper.css https://github.com/cognitom/paper-css/blob/master/paper.css */
      @page { margin: 0 }
      body { margin: 0 }
      .sheet {
        margin: 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        page-break-after: always;
      }

      /** Paper sizes **/
      body.A3               .sheet { width: 297mm; height: 419mm }
      body.A3.landscape     .sheet { width: 420mm; height: 296mm }
      body.A4               .sheet { width: 210mm; height: 296mm }
      body.A4.landscape     .sheet { width: 297mm; height: 209mm }
      body.A5               .sheet { width: 148mm; height: 209mm }
      body.A5.landscape     .sheet { width: 210mm; height: 147mm }
      body.letter           .sheet { width: 216mm; height: 279mm }
      body.letter.landscape .sheet { width: 280mm; height: 215mm }
      body.legal            .sheet { width: 216mm; height: 356mm }
      body.legal.landscape  .sheet { width: 357mm; height: 215mm }

      /** Padding area **/
      .sheet.padding-10mm { padding: 10mm }
      .sheet.padding-15mm { padding: 15mm }
      .sheet.padding-20mm { padding: 20mm }
      .sheet.padding-25mm { padding: 25mm }

      /** For screen preview **/
      @media screen {
        body { background: #e0e0e0 }
        .sheet {
          background: white;
          box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
          margin: 5mm auto;
        }
      }

      /** Fix for Chrome issue #273306 **/
      @media print {
                 body.A3.landscape { width: 420mm }
        body.A3, body.A4.landscape { width: 297mm }
        body.A4, body.A5.landscape { width: 210mm }
        body.A5                    { width: 148mm }
        body.letter, body.legal    { width: 216mm }
        body.letter.landscape      { width: 280mm }
        body.legal.landscape       { width: 357mm }
      }


      /* Custom Styles */
      body {
        font-size: 10pt;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .clearfix::before,
      .clearfix::after {
        display: table;
        content: ' ';
      }

      .clearfix::after {
        clear: both;
      }

      .container {
        width: 100%;
        height: 100%;
        position: relative;
      }

      #map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 4.75em;
        font-size: inherit;
      }

      #north-arrow {
        position: absolute;
        top: 16pt;
        left: 16pt;
        z-index: 2;
        width: 16pt;
        height: 16pt;
        background-color: rgba(255,255,255,0.4);
        border: 1pt solid #444;
        border-radius: 100%;
        box-shadow: 0 0 0 1.5pt rgba(255,255,255,1);
        pointer-events: none;
      }
      #north-arrow .n {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-bottom: 1.5pt;
        transform: translate(-50%,0);
        text-align: center;
        line-height: 1.75;
        font-size: 6pt;
        font-weight: bold;
        width: 9pt;
        height: 11pt;
        background-color: rgba(255,255,255,0.5);
        border-radius: 100% 100% 0 0;
      }
      #north-arrow:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: -2pt;
        right: 50%;
        width: 0;
        height: 0;
        border-bottom: 16pt solid #000;
        border-left: 8pt solid transparent;
        -webkit-transform: skew(0,-30deg);
           -moz-transform: skew(0,-30deg);
             -o-transform: skew(0,-30deg);
      }
      #north-arrow:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: -2pt;
        left: 50%;
        width: 0;
        height: 0;
        border-bottom: 16pt solid #888;
        border-right: 8pt solid transparent;
        -webkit-transform: skew(0,30deg);
           -moz-transform: skew(0,30deg);
             -o-transform: skew(0,30deg);
      }

      .header {
        margin: 0;
        line-height: 1;
      }

      .header-logo {
        height: 3.5em;
        float: left;
        margin: 0 0.75em 0 0;
      }

      .header-text { float: left; }
      .title { float: left; }
      .subtitle { clear: left; float: left; }

      .header input[type=text] {
        border: 1px solid transparent;
        padding: 0;
        min-width: 2em;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
      }

      .title:hover input,
      .subtitle:hover input,
      .title input:focus,
      .subtitle input:focus {
        border-bottom: 1px solid #bbb;
      }

      .title input:focus,
      .subtitle input:focus { outline: 0; }

      .title input {
        font-size: 2em;
        margin: -0.25em 0 0;
        font-weight: bold;
      }

      .subtitle input {
        font-size: 1.375em;
        margin: 0;
        font-weight: normal;
      }

      .fa-edit {  color: #559955; }
      .fa-times { color: #dd4444; }

      .fa-edit,
      .fa-times {
        opacity: 0;
        transition: all 0.25s;
        margin: 0 0 0 0.5em;
        cursor: pointer;
      }

      .title:hover .fa-edit,
      .subtitle:hover .fa-edit,
      .subtitle:hover .fa-times {
        opacity: 1;
      }

      .content {
        position: absolute;
        top: auto;
        right: 50%;
        bottom: 1em;
        left: 1em;
        padding: 0.75rem;
        background-color: rgba(255,255,255,0.8);
        box-shadow: 0 0 0 1pt rgba(0,0,0,0.1);
        line-height: 1.5;
      }

      /* Legends */
      .legend {
        font-size: 7pt;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        bottom: auto;
        left: auto;
        max-width: 25%;
        background-color: rgba(255,255,255,0.8);
        box-shadow: 0 0 0 1pt rgba(0,0,0,0.1);
        line-height: 1.2;
      }

      .legend-header {
        padding: 4pt;
        margin: 0;
      }

      .legend-section-header {
        margin: 0 0 4pt;
      }

      .legend-section {
        padding: 4pt;
        border-top: 1px solid #ddd;
      }

      .legend-item + .legend-item {
        margin-top: 4pt;
      }

      .legend-item svg {
        height: 1.5em;
        width: auto;
        display: inline-block;
        vertical-align: top;
        margin: 0 0.5em 0 0;
      }

      .button {
        display: inline-block;
        padding: .85em 1em;
        -webkit-appearance: none;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        background-color: #ae561f;
        color: #fefefe;
        font-size: 12pt;
        text-decoration: none;
        border-radius: 2pt;
        box-shadow: 3pt 3px 0 0 rgba(0,0,0,0.1);
      }
      .button:hover {
        background-color: #9d450e;
      }

      .mapboxgl-ctrl-top-left {
        opacity: 0;
        transition: all 0.1s;
      }
      #map:hover .mapboxgl-ctrl-top-left {
        opacity: 1;
      }

      @media screen and (min-width: 350mm) {
        .instructions {
          /* background-color: pink; */
          width: 70mm;
          float: left;
          margin-left: calc(50vw - 140mm - 35mm);
        }|
      }

      .instructions-step {
        margin: 8mm 0;
      }

      .instructions-step strong {
        display: block;
        margin-bottom: 0.25em;
        font-size: 12pt;
      }

      .step-number {
        float: left;
        min-width: 1em;
        padding: 0.3em;
        border-radius: 50%;
        font-size: 1.5em;
        line-height: 1;
        text-align: center;
        background: SteelBlue;
        color: #fefefe;
        margin: 0 9pt 9pt;
      }

      .mapboxgl-ctrl-attrib {
        font-size: 7pt;
      }

      @media print {
        .instructions,
        .mapboxgl-ctrl-top-left {
          display: none;
        }
      }

      @media screen and (max-width: 300mm) {
        .sheet {
          transform: scale(0.7);
          transform-origin: 10vw 0;
        }
      }

      @media screen and (max-width: 200mm) {
        .sheet {
          transform: scale(0.5);
          transform-origin: 10vw 0;
        }
      }

      /* Chrome & Safari can force the content/attributions backgrounds to use transparency */
      .content, .mapboxgl-ctrl-attrib {
        -webkit-print-color-adjust: exact;
      }
